<header>

  <div class="header">
    <div class="text_header">
    <h1>Jean-Louis Gallouin Développeur Full stack</h1>
  <h2>La créativité au service du développement</h2>
    </div>
  <img class="logo_header" src="assets/ressources/backgroundheader/logoPhoenix.svg" alt="logo" title="logo">
  </div>

  <div class="button_about_section" (click)="scrollDown()">
      <div class="click" >

      </div>
  </div>
</header>

<app-about-me [checkScroll]="scrollDowns"></app-about-me>

<app-footer></app-footer>
