
@media screen and (min-width: 1024px) {
  footer {
    width: 100%;
    height: 300px;

  }

  .backgournd_footer {
    background-color: grey;
    width: 100%;
    height: 300px;
  }
}


@media screen and (min-width: 600px) and (max-width: 1024px) {
  footer {
    width: 100%;
    height: 300px;

  }

  .backgournd_footer {
    background-color: grey;
    width: 100%;
    height: 300px;
  }
}


@media screen and (min-width: 320px) and (max-width: 600px) {

  footer {
    width: 100%;
    height: 200px;
    margin-top: 500px;

  }

  .backgournd_footer {
    background-color: grey;

    width: 100%;
    height: 200px;
  }
}
