
<section>
  <div id="group_projets" >


  <div id="waisatusMovie" class="groupP">
    <h3>Movie Database</h3>

    <p>Uilisation de l'Api Movie Database, pour créer une application de type allociné</p>

    <h4>Notion clef abbordé</h4>
    <ul>

      <li>HTTP GET & POST</li>
      <li>State & Props</li>
      <li>Arrow function</li>
    </ul>
    <h5>Outils utilisée</h5>

    <ul>

      <li>POSTMAN</li>
      <li>Photoshop</li>
      <li>WEB Storm IDE</li>
    </ul>

  </div>

  <div id="todolist_react" class="groupP">
    <h3>ToDo_List codé en React</h3>
    <p>Utilisation de la librairie React Js, ajout, mise à jour, supprésion et sauvegarde des Tasks.
      Cette exercice permet de comprendre les oppérations de CRUD essentielles pour l'interraction

    </p>
    <h4>Notion clef abbordé</h4>
    <ul>

      <li>CRUD opération</li>
      <li>State & Props</li>
      <li>Arrow function</li>
    </ul>
  </div>

  <div id="pokemon" class="groupP">
    <h3>PokeApi, ANGULAR</h3>

    <p>Utilisation de la librairie Angular, Affichage des 150 premiers pokemons, fiche détaillé

    </p>
    <h4>Notion clef abbordé</h4>
    <ul>

      <li>Requette HTTP Get</li>
      <li>Parcourir des objets ou des array</li>
      <li>Affiche de SPrite</li>
    </ul>

  </div>

<div id="page_project">

  <h1>Projets Développement Web</h1>

  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac quam sit amet sapien aliquet ultricies. Phasellus cursus lorem risus, eu fermentum ipsum fermentum ut. Donec tincidunt tristique tempus. Ut leo orci, placerat ut placerat quis, laoreet id massa. Maecenas vel massa eu mi pharetra condimentum. Sed pellentesque massa quis maximus gravida. Sed placerat tortor quis nulla imperdiet euismod. Vivamus vel metus a urna ullamcorper iaculis et ut erat. Etiam accumsan commodo justo, vel euismod tortor iaculis in.

    Mauris placerat, neque molestie aliquet venenatis, ex velit faucibus quam, eu pulvinar sem lacus nec urna. Nulla facilisi. Aenean vel turpis ante. Morbi tristique a velit vel vulputate. Nulla massa lectus, facilisis malesuada fringilla id, accumsan ut justo. Integer auctor imperdiet risus, quis consequat tellus pretium eu. Nam rutrum magna mi, non viverra augue facilisis id. Aenean non lectus non lacus laoreet aliquet in nec mi. Donec rhoncus urna blandit est sodales, in aliquet tortor egestas. Nunc nec lectus et erat finibus tempus. Aliquam erat volutpat. Curabitur tristique dignissim velit, ac volutpat purus auctor a. </p>

</div>

    <div id="nav_project">
    <button type="button" (click)="frontOnTop()">Top</button>
    <button type="button" (click)="frontOnBottom()">bottom</button>
    <button type="button" (click)="frontOnLeft()">Pokemon</button>
    <button type="button" (click)="frontOnRight()">To_DoList React</button>
    <button type="button" (click)="frontOnBack()">Movie_Database</button>
    <button type="button" (click)="rightOnFront()">Acceuil</button>
    </div>
  </div>

<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front">



      front</div>
    <div class="cube__face cube__face--back">
      <img class="logo" src="assets/ressources/projectImg/HomeGoat.jpg">
      back</div>
    <div class="cube__face cube__face--right">

      right</div>
    <div class="cube__face cube__face--left">


      <div class="img_desc">

        <img class="logo" src="assets/ressources/projectImg/pokeapi.jpeg">

      </div>
      left</div>
    <div class="cube__face cube__face--top">

      top</div>
    <div class="cube__face cube__face--bottom">


      bottom</div>
  </div>
</div>


</section>
<app-footer></app-footer>
