
<section>
  <div id="group_projets" >


    <div   *ngFor="let project of projects">

  <div *ngIf="idState===project.identification" [id]="project.identification" class="groupP">

    <h2>{{project.title}}</h2>

    <p>{{project.intro}}</p>

    <div *ngIf="project.identification != 'page_project'">
    <h3>Notions abordé</h3>

    <p>{{project.notions}}</p>

    <h3>Outils utilisé</h3>
    <p>{{project.tools}}</p>
    </div>


</div>
    </div>
    <div id="nav_project">

      <h3>Navigation</h3>
      <ul>
        <li (click)="frontOnTop()" id="top" class="border">Top</li>
        <li (click)="frontOnBottom()" id="bottom"class="border">Bottom</li>
        <li (click)="frontOnLeft()" id="left" class="border">Pokemon</li>
        <li (click)="frontOnRight()" id="right" class="border"> To_DoList React</li>
        <li (click)="frontOnBack()" id="back" class="border">Movie_Database</li>
        <li (click)="rightOnFront()" id="front" class="border">Acceuil</li>


      </ul>

    </div>
  </div>

<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front">



      front</div>
    <div class="cube__face cube__face--back">
      <img class="logo" src="assets/ressources/projectImg/HomeGoat.jpg">
      back</div>
    <div class="cube__face cube__face--right">

      right</div>
    <div class="cube__face cube__face--left">


      <div class="img_desc">

        <img class="logo" src="assets/ressources/projectImg/pokeapi.jpeg">

      </div>
      left</div>
    <div class="cube__face cube__face--top">

      top</div>
    <div class="cube__face cube__face--bottom">


      bottom</div>
  </div>
</div>


</section>
<app-footer></app-footer>
