<section id="contact">
<article id="formulaire">
  <form>
    <label for="name_contact">Votre nom</label>
    <input type="text" id="name_contact" name="name_contact" class="input_contact">

    <label for="objet_contact">L'objet de votre demande</label>
      <input type="text" id="objet_contact" name="objet_contact" class="input_contact">

    <label for="mail_contact">Votre Email</label>
      <input type="text" id="mail_contact" name="mail_contact" class="input_contact">

    <label for="message">Message</label>
      <textarea id="message" name="messsage" class="input_contact"  rows="7" cols="33" ></textarea>

    <input type="submit" name="submit" id="submit_form" class="input_send" value="send">

  </form>
</article>

  <article id="me_intro">
    <div>

      <img src="./assets/ressources/contact/jlm2.jpg" alt="Jean-Louis Gallouin" title="Jean-Louis Gallouin développeur Full stack">

      <h1>Jean-Louis Gallouin</h1>
      <h2>Développeur Full Stack</h2>
    </div>
  </article>

</section>



<app-footer></app-footer>
