
<div class="filet">

</div>



<section id="services">

  <h1>Nos Services</h1>


  <div id="global_services">
<section id="marketing" class="width_container_services">
<article id="cube-red">
    <div class="scene" (click)="onClickRed()">
      <div class="cube">
        <div class="cube__face cube__face--front red"><h4>Digital</h4></div>
        <div class="cube__face cube__face--back red"><h4>SEO</h4></div>
        <div class="cube__face cube__face--right red"><h4>Etude</h4></div>
        <div class="cube__face cube__face--left red"><h4>Money</h4></div>
        <div class="cube__face cube__face--top red">top</div>
        <div class="cube__face cube__face--bottom red">bottom</div>
      </div>
    </div>
  <h2 id="title_marketing">Marketing Digital</h2>
</article>

    <article id="description_marketing">

      <h2 id="title_marketing_desc">Marketing Digital</h2>
  <p>Un site internet est une passerelle, un lien entre l’utilisateur et le créateur. Si le pont est solide et harmonieux,
    il permet à l’un d’accéder à une véritable expérience virtuelle, à l’autre de mettre en valeur son offre. </p>

  <ul class="list_service">
    <li>Gagner en visibilité sur les moteurs de recherche</li>
    <li>Attirer de nouveaux clients & prospects sur la plateforme</li>
    <li>Présenter son offre de façon claire & optimisée</li>
    <li>Créer des bases de données client</li>
    <li>Obtenir de nouveaux outils pour communiquer efficacement </li>
  </ul>

  <p>L’interactivité est une notion primordiale, car elle donne du sens à l’ensemble. L’envie d’échanger non seulement votre proposition de valeur
    contre une rémunération, mais aussi et surtout votre vision et vos valeurs avec les personnes qui permettent à votre activité de tourner est l’enjeux majeur de notre ère.</p>
    </article>
</section>

  <section id="design" class="width_container_services">
    <article id="cube-orange">
  <div class="scene" (click)="onClickOrange()">
    <div class="cube">
      <div class="cube__face cube__face--front orange">front</div>
      <div class="cube__face cube__face--back orange">back</div>
      <div class="cube__face cube__face--right orange">right</div>
      <div class="cube__face cube__face--left orange">left</div>
      <div class="cube__face cube__face--top orange">top</div>
      <div class="cube__face cube__face--bottom orange">bottom</div>
    </div>
  </div>
    <h2 id="title_design">Design</h2>
    </article>

    <article id="description_design">
    <h2 id="title_design_desc">Design</h2>
    <p>Une œuvre d’art est une création dans laquelle l’artiste a intégré sa vision pour créer chez celui qui la contemple des émotions. Si l’œuvre d’art est
      suffisamment compréhensible par un néophyte et attirante pour un œil expert alors on peut dire que l’œuvre est réussite.</p>
    <ul class="list_service">
      <li>Définir ensemble les codes couleur du secteur</li>
      <li>Numériser votre image de marque</li>
      <li>Exprimer les émotions liées à vos produits</li>
      <li>Retenir l’attention de vos utilisateurs</li>
      <li>Donner l’envie à vos clients de montrer vos créations</li>
    </ul>

    <p>L’art n’est pas une compétition mais l’expression de la sensibilité de chacun.
      Si votre art plait, c’est que votre technique a été correctement mise au service de votre message.</p>
    </article>
  </section>

  <section id="coding" class="width_container_services">
    <article id="cube-purple">
  <div class="scene" (click)="onClickPurple()">
    <div class="cube">
      <div class="cube__face cube__face--front purple">front</div>
      <div class="cube__face cube__face--back purple">back</div>
      <div class="cube__face cube__face--right purple">right</div>
      <div class="cube__face cube__face--left purple">left</div>
      <div class="cube__face cube__face--top purple">top</div>
      <div class="cube__face cube__face--bottom purple">bottom</div>
    </div>
  </div>
    <h2 id="title_coding">Coding</h2>
</article>
    <article id="description_coding">
      <h2 id="title_coding_desc">Coding</h2>
      <p>L’art du codage est autant un travail d’architecte que de traducteur. Il permet de poser des bases qui se veulent solides pour accueillir au moyen de divers langages
        le contenu imaginé par son créateur. Une fonctionnalité n’est ni plus ni moins qu’un souhait traduit dans un langage informatique.</p>
      <ul class="list_service">
        <li>Établir ensemble un cahier des charges cohérent</li>
        <li>Trier les fonctionnalités en fonction des besoins réels</li>
        <li>Définir une première maquette</li>
        <li>Vérifier que l’expérience utilisateur proposée est efficiente </li>
        <li>Bâtir une plateforme fiable, pérenne et sécurisé</li>
      </ul>

      <p>Il y a mille et une façons d’arriver à un résultat, pour autant le chemin le plus optimisé
        est rarement le plus pragmatique. Savoir discerner le résultat voulu du besoin réel, voilà le véritable talent d’un informaticien.</p>
    </article>
  </section>

  </div>



</section>
